.container {
  padding: 20px;
}

.category-item {
  cursor: pointer;
  color: rgb(250, 233, 233); /* Adjust text color for visibility */
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.category-item:hover {
  opacity: 0.8;
}

.category1 {
  background-image: url("../assets/images/bg01.png");
  background-size: cover;
}

.category2 {
  background-image: url("../assets/images/bg02.png");
  background-size: cover;
}
